<ion-card>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-avatar>
            <img src="assets/avatar.png" />
          </ion-avatar>
        </ion-col>
        <ion-col size="9">
          <h2>{{ data.id }} - {{ data.name }}</h2>
          <ion-badge color="primary" *ngIf="data.pendingSO">
            Pending SO
          </ion-badge>
          <p>
            New Contract:
            {{ data.contractPeriod.start | date : "dd/MM/yyyy" }} -
            {{ data.contractPeriod.end | date : "dd/MM/yyyy" }}
          </p>
          <p>Adjusment: {{ data.adjustment }} %</p>
          <p>Project Location: {{ data.projectLocation }}</p>
          <p>Supervisor: {{ data.supervisor }}</p>
          <p>
            Funnel Gen ID: {{ data.funnelGenId }} | SO: {{ data.so }} | SO IDC:
            {{ data.soIdc }}
          </p>
          <div class="renewal-status">
            <ion-badge color="light">{{ data.renewalStatus }}</ion-badge>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
